body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  color: white;
  background-image: url("utah.jpg");
  height:600px;
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
}